*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.c-top{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.top-left{
    flex-basis: 60%;
    margin: 0px  50px;
    border-left: 10px solid #a1eb29;
    padding-left: 10px;
    border-radius: 10px;
}
.wel{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #2C3639;
}
.del{
    font-size: 50px;
    font-weight: 600;
    color: #2C3639;
}
.red{
    color: #FF9F29;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}
.bul{
    margin-top: 30px;
    color: #2C3639;
    letter-spacing: 1px;
}
.para{
    font-size: 18px;
    font-weight: 500;
    color: #2C3639;
    text-align: justify;
    margin: 20px 0px;
    line-height: 1.5;
}
.but{
    padding: 10px 24px;
    background-image: linear-gradient(#483fed,#17c2ed);
    border-radius: 5px;
    color: #f0f8ff;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 1px;

}

.top-right{
    flex-basis : 40%;
}

.my-first-photo {
    border-radius: 80px;
    margin:50px 0px

}
.middle{
    display: flex;
    align-items: center;
    padding: 80px 0px;
}
.s-left{

    flex-basis: 40%;
}
.s-right{
    flex-basis: 60%;
    margin: 0px 20px;
}
.dream{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #2C3639;
}
.become{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #2C3639;
}
.port-2{
    margin-left: 30px;
    border-radius: 80px;
}

.resume{
    padding: 10px 18px;
    background-image: linear-gradient( #1d12b5,#0deffb);
    color: #f0f8ff;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

.experience{
    font-size: 40px;
    font-weight: 700;
    color: #2C3639;
    letter-spacing: 1px;
    text-align: center;
    padding: 50px 0px 0px 0px;
}
.down{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box1{
    margin: 30px 40px;
    height: 400px;
    width: 400px;
    flex-basis: 50%;
    background-color: #eef4f5;
    text-align: center;
    padding: 30px 20px;
    border-left: 8px solid #051db9cc;
    border-radius: 5px;
    box-shadow: 5px 2px 5px 2px #808080;

}
.box2{
    margin: 30px 40px;
    border-left: 8px solid #2cebf1;
    height: 400px;
    width: 400px;
    flex-basis: 50%;
    background-color: #eef4f5;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 5px 2px 5px 2px #808080;
}
.fullstack{
    font-size: 30px;
    font-weight: 600;
    color: #2C3639;
    padding-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.pro{
    font-weight: 600;
    color: #FF9F29;
    padding-bottom: 10px;
    letter-spacing: 1px;
    line-height: 1.5;
}
.footer{
    font-size: 16px;
    font-weight: 500;
    color: #2C3639;
    margin: 20px 0px;
    line-height: 1.5;
    text-align: center;
}